h1, h2, h3, h4, h5 ,h6 ,body {
     text-align: center;
      }
/* 

border: 5px solid red;
padding: 20px;}
 padding is done in order top right bottom left */
 

h1 {color: darkgreen;
}
h2 {color: crimson;} 
li {list-style-type: none;
padding: 1rem 2rem;
margin: 0.5rem;
     display: inline-block;
}
nav { position: sticky;
top: 0;
background-color: teal;}
body {background-color: teal;}
nav li a:hover { background-color: white;}
nav a {
     display: inline-block;
     background-color: coral;
     padding: 20px; 
     margin: 10px;
     border: 10px solid black;
     list-style-position: inside;
}
img {max-width: 100%;}
.albumart {
     max-width: 245px;
     height: auto;
}
.bandart { max-width: 50%;}

.border { border: 10px dashed black;}

@media print { 
     body {

          font-family: serif;
          font-size: large;

     }

}
/* tablet view */
@media only screen and (max-width: 768px)
main 
{
     {width: 100%;}
     p {font-size: medium;
     }
}
/* desktop view */
@media only screen and (min-width: 769px) 
{.sidebar {display: block;}
}
 @media screen (min-width: 75%)



 .roboto-thin {
     font-family: "Roboto", sans-serif;
     font-weight: 100;
     font-style: normal;
   }
   
   .roboto-light {
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: normal;
   }
   
   .roboto-regular {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-style: normal;
   }
   
   .roboto-medium {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-style: normal;
   }
   
   .roboto-bold {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: normal;
   }
   
   .roboto-black {
     font-family: "Roboto", sans-serif;
     font-weight: 900;
     font-style: normal;
   }
   
   .roboto-thin-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 100;
     font-style: italic;
   }
   
   .roboto-light-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 300;
     font-style: italic;
   }
   
   .roboto-regular-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 400;
     font-style: italic;
   }
   
   .roboto-medium-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 500;
     font-style: italic;
   }
   
   .roboto-bold-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 700;
     font-style: italic;
   }
   
   .roboto-black-italic {
     font-family: "Roboto", sans-serif;
     font-weight: 900;
     font-style: italic;
   }
   

 /* #wrapper display: flex;
 gap 2;
 flex direction row
 flex direction colum reverse
 flex wrap 
 * for child of a class
 .gride-simple {
  grid-timplate-colums auto and number 
  lfr
   repeat
   div { width 90% margin auto